.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  padding: 0 12px;
  font-size: 14px;
  color: #fff;
  border-radius: 8px;
  border: none;
  background: #2471fe;
  font-family: inherit;
  cursor: pointer;
}
