.sections {
  display: grid;
  grid-template-areas:
    'overview overview overview'
    'profile addresses custom'
    'dweb dweb permissions';
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  max-width: var(--max-width);
  margin: 0 auto;
  &[data-is-editable='false'] {
    [data-edit-actions] {
      display: none;
    }
  }
  &[data-is-editable='true'] {
    [data-edit-actions] {
      display: flex;
    }
  }
}
