.container {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    padding: 89px 0 10px;
  }

  .desc {
    text-align: center;
    color: #fff;
  }
}
