.container {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    padding: 89px 0 10px;
  }

  .desc {
    text-align: center;
    color: #fff;
  }
  .claim {
    padding: 8px 16px;
    font-size: 16px;
  }

  .faucet {
    color: #fff;
    a {
      color: inherit;
    }
  }

  .copy {
    font-size: 16px;
    margin-top: 16px;
    padding: 8px 16px;
  }
}
